
.register  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: white !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

}

.container .image img {
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* .App {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0/ 60%);
} */
.form-group {
  margin-bottom: 13px;
}
.container .error {
  margin-top: -10px;
}
.container input {
  border-width: 3px;
}
.container h2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat
}
