.theatre-container {
  background: hsl(234, 29%, 20%);
  height: 100vh;
  color: gray;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.theatre-container .screen {
  background-color: white;
  width: 40%;
  height: 200px;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.5);
  -webkit-transform: rotateX(-48deg);
  -moz-transform: rotateX(-48deg);
  -ms-transform: rotateX(-48deg);
  -o-transform: rotateX(-48deg);
}
.booked {
  color: yellow;
}
